.list{
    list-style-type: none;
    display: flex;
    background-color: #232f3e;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin:0
}
ul li {
    margin-right: 15px;
}